.additional__text {
    margin: 0;
    justify-self: end;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #B8CCD9;
}