@import './__id/bet__id.css';
@import './__heading/bet__heading.css';
@import './__icon/bet__icon.css';
@import './__time/bet__time.css';
@import './__money/bet__money.css';
@import './__ammount/bet__ammount.css';
@import './__kef/bet__kef.css';
@import './__icon/bet__icon.css';

.bet {
    max-width: 248px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-bottom: 1px solid #2A414C;
    padding: 0 12px 7px;
    margin-bottom: 8px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.bet:last-child {
    border-bottom: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, #192A33);
    margin-bottom: 0;
    padding-bottom: 0;
}