.bet__kef {
    max-width: 24px;
    display: flex;
    margin: 0;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #738C99;
    justify-self: end;
}